@charset "UTF-8";
/*animation pour faire apparaître les éléments du menu un par un*/
@-webkit-keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*animation pour faire tourner le bouton check des éléments du menu*/
@-webkit-keyframes quarterspin {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes quarterspin {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}
/*application des animations*/
.item__card {
  -webkit-animation: appear 1s;
          animation: appear 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.item__card:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.item__card:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.item__card:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.item__card:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.item__card:hover .check__btn {
  visibility: visible;
  margin-right: 0px;
  transition: 800ms;
}
.item__card:hover .check__btn i {
  -webkit-animation: quarterspin 0.5s ease-in-out;
          animation: quarterspin 0.5s ease-in-out;
}

/*polices du site*/
/*couleurs du site*/
/*mixins*/
/* box-sizing est appliqué à tous les éléments */
* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/*footer identique sur toutes les pages du site*/
.footer {
  background-color: #353535;
  padding: 20px;
  color: white;
  position: absolute;
  width: 100%;
  font-size: 16px;
}
.footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
}
.footer ul {
  list-style-type: none;
  line-height: 30px;
}
.footer li {
  margin-left: -40px;
}
.footer li a {
  text-decoration: none;
  color: inherit;
}

.fa-utensils {
  margin-right: 12px;
  font-size: 14px;
}

.fa-handshake-angle {
  margin-right: 6px;
  font-size: 14px;
}

/*header dnt la flèche est disponible uniquemement sur les pages des menus et la location uniquement sur la homepage*/
.header__arrow {
  position: absolute;
  color: black;
  text-decoration: none;
  margin: 10px 0 0 15px;
}
.header__arrow i {
  font-size: 20px;
}
.header__logo {
  width: 100%;
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 10px 0 10px 0;
}
.header__location {
  background-color: #e9e9e9;
  padding: 15px 0 15px 0;
  margin-bottom: -15px;
  text-align: center;
  box-shadow: 0px 0px 5px #c3c3c3;
  border-top: 2px solid #D1D1D1;
  font-size: 16px;
}
.header__location i {
  padding-right: 15px;
}
.header__banner img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}

/*partie responsive du header*/
@media (min-width: 768px) and (max-width: 991px) {
  .header__banner img {
    height: 150px;
  }
}
@media (min-width: 992px) {
  .header__logo {
    font-size: 28px;
  }
}
/*btn explorer nos restaurants avec un changement de style au survol*/
.search__btn {
  display: flex;
  justify-content: center;
}
.search__btn input[type=button] {
  height: 50px;
  width: 230px;
  border-radius: 40px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 25px;
  box-shadow: 3px 3px 15px 1px #D1D1D1;
}
.search__btn input[type=button]:hover {
  background: linear-gradient(to bottom, #ff88de, #9b63df);
  box-shadow: 5px 5px 10px 1px #b8b8b8;
}

/*btn étapes de fonctionnement avec coloration de l'icône et du fond au survol*/
.operation__btn {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  font-weight: 500;
  margin: 10px auto 10px 30px;
  padding: 10px 0 10px 50px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 3px 3px 15px 1px #D1D1D1;
  cursor: pointer;
}
.operation__btn h2 {
  font-size: 18px;
  font-weight: 500;
}
.operation__btn i {
  font-size: 20px;
  color: #777777;
  padding-right: 20px;
}
.operation__btn:hover {
  background-color: #f2eafb;
}
.operation__btn:hover i {
  color: #9356DC;
}

/*btn sélection plat caché avec une marge droite négatif qui apparaît de droite à gauche au survol, l'animation se situe dans le fichier animation*/
.check__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  border-radius: 0 10px 10px 0;
  background-color: #99E2D0;
  visibility: hidden;
  margin-right: -50px;
}
.check__btn i {
  font-size: 22px;
  border-radius: 20px;
  color: white;
}

/*partie responsive des btn*/
@media (min-width: 768px) and (max-width: 991px) {
  .search__btn input[type=button] {
    height: 60px;
    width: 300px;
    font-size: 18px;
  }
  .search__btn .operation__btn {
    width: 90%;
    font-weight: 400;
    padding: 10px;
  }
  .search__btn .operation__btn i {
    padding-right: 15px;
  }
}
@media (min-width: 992px) {
  .search__btn input[type=button] {
    height: 60px;
    width: 300px;
    font-size: 18px;
  }
  .operation__btn {
    display: flex;
    justify-content: center;
    width: 35%;
    margin: 10px auto 10px auto;
    padding: 10px 0 10px 0;
  }
  .operation__btn p {
    font-size: 18px;
  }
  .operation__btn i {
    font-size: 18px;
  }
}
/*deux coeurs dont un qui apparaît et se rempli au survol*/
.caption__heart {
  display: block;
  position: relative;
  font-size: 28px;
  margin: 25px 20px 30px auto;
}
.caption__heart:hover {
  cursor: pointer;
}
.caption__heart:hover .fa-regular {
  transform: scale(0);
}
.caption__heart:hover .fa {
  transform: scale(1);
}

.fa-regular {
  position: absolute;
}

.fa {
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition-property: transform;
  transition-duration: 1000ms;
  transform: scale(0);
}

/*preloader de chargement d'une durée de 2sec, code copié depuis le net*/
#loader-animation {
  visibility: hidden;
  background-color: white;
  -webkit-animation: showAndHide 2s;
  animation: showAndHide 2s;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cookingPot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 500px;
  margin: auto;
  position: relative;
}

#lid {
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-animation: lid-movement 2.5s infinite;
  animation: lid-movement 2.5s infinite;
}

#potWrist {
  background-color: #278870;
  border-radius: 6px 6px 0 0;
  width: 40px;
  height: 10px;
  margin-bottom: -2px;
}

#cookingPotLid {
  border: 2px solid #71d7be;
  border-top: none;
  border-radius: 50% 50% 0 0;
  width: 180px;
  height: 20px;
  margin-bottom: -2px;
  background-color: #99E2D0;
}

#cookingPotBody {
  border-top: 2px solid #71d7be;
  border-radius: 0 0 15px 15px;
  width: 180px;
  height: 160px;
  position: relative;
  z-index: 1;
  background-color: #99E2D0;
}

#cookingPotBodyReflection {
  background-color: #c1ede2;
  border-radius: 0 0 15px 0;
  width: 40px;
  height: 160px;
  position: absolute;
  right: 10px;
  bottom: 0;
}

#cookingPotBodyReflectionBis {
  background-color: #c1ede2;
  width: 20px;
  height: 160px;
  position: absolute;
  right: 75px;
  bottom: 0;
}

#potWristRight {
  background-color: #278870;
  border-radius: 0 50% 0 0;
  width: 25px;
  height: 7px;
  position: absolute;
  right: -15px;
  bottom: 129px;
  z-index: 1;
}

#potWristLeft {
  background-color: #278870;
  border-radius: 50% 0 0 0;
  width: 25px;
  height: 7px;
  position: absolute;
  left: -15px;
  bottom: 129px;
  z-index: 1;
}

.smoke {
  border-radius: 50%;
  position: absolute;
}

.smoke:nth-child(odd) {
  -webkit-animation: smoke-right 2.8s linear infinite;
  animation: smoke-right 2.8s linear infinite;
}

.smoke:nth-child(even) {
  -webkit-animation: smoke-left 2.8s linear infinite;
  animation: smoke-left 2.8s linear infinite;
}

.pink {
  background-color: #FF79DA;
}

.purple {
  background-color: #9356DC;
}

.smoke.smoke-1 {
  height: 50px;
  width: 50px;
  bottom: 111px;
}

.smoke.smoke-2 {
  height: 70px;
  width: 70px;
  bottom: 87px;
}

.smoke.smoke-3 {
  height: 80px;
  width: 80px;
  bottom: 66px;
}

@-webkit-keyframes showAndHide {
  0% {
    visibility: visible;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  98% {
    opacity: 0.5;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes showAndHide {
  0% {
    visibility: visible;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  98% {
    opacity: 0.5;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.smoke:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.smoke:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.smoke:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.smoke:nth-child(4) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.smoke:nth-child(5) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.smoke:nth-child(6) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.smoke:nth-child(7) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.smoke:nth-child(8) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.smoke:nth-child(9) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.smoke:nth-child(10) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.smoke:nth-child(11) {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}

.smoke:nth-child(12) {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

@-webkit-keyframes smoke-right {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    filter: blur(5px);
  }
  100% {
    transform: translate(100px, -500px) scale(3);
    opacity: 0;
    filter: blur(5px);
  }
}
@keyframes smoke-right {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    filter: blur(5px);
  }
  100% {
    transform: translate(100px, -500px) scale(3);
    opacity: 0;
    filter: blur(5px);
  }
}
@-webkit-keyframes smoke-left {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    filter: blur(5px);
  }
  100% {
    transform: translate(-100px, -500px) scale(3);
    opacity: 0;
    filter: blur(5px);
  }
}
@keyframes smoke-left {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    filter: blur(5px);
  }
  100% {
    transform: translate(-100px, -500px) scale(3);
    opacity: 0;
    filter: blur(5px);
  }
}
@-webkit-keyframes lid-movement {
  0% {
    transform: skewY(-5deg) translateY(-10px);
    transform-origin: left;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    transform: skewY(0deg) translateY(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  20% {
    transform: skewY(5deg) translateY(-10px);
    transform-origin: right;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  30% {
    transform: skewY(0deg) translateY(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  40% {
    transform: skewY(-15deg) translateY(-15px);
    transform-origin: left;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    transform: skewY(15deg) translateY(-15px);
    transform-origin: right;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateY(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  74% {
    transform: skewY(-5deg) translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    transform-origin: center;
  }
  78% {
    transform: skewY(10deg) translateY(-20px);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  82% {
    transform: skewY(-10deg) translateY(-30px);
  }
  86% {
    transform: skewY(5deg) translateY(-35px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  90% {
    transform: translateY(-25px) skewY(-10deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  94% {
    transform: skewY(5deg) translateY(-15px);
  }
  98% {
    transform: translateY(-5px) skewY(-5deg);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes lid-movement {
  0% {
    transform: skewY(-5deg) translateY(-10px);
    transform-origin: left;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    transform: skewY(0deg) translateY(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  20% {
    transform: skewY(5deg) translateY(-10px);
    transform-origin: right;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  30% {
    transform: skewY(0deg) translateY(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  40% {
    transform: skewY(-15deg) translateY(-15px);
    transform-origin: left;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    transform: skewY(15deg) translateY(-15px);
    transform-origin: right;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateY(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  74% {
    transform: skewY(-5deg) translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    transform-origin: center;
  }
  78% {
    transform: skewY(10deg) translateY(-20px);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  82% {
    transform: skewY(-10deg) translateY(-30px);
  }
  86% {
    transform: skewY(5deg) translateY(-35px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  90% {
    transform: translateY(-25px) skewY(-10deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  94% {
    transform: skewY(5deg) translateY(-15px);
  }
  98% {
    transform: translateY(-5px) skewY(-5deg);
  }
  100% {
    transform: translateY(0);
  }
}
/*page d'accueil*/
.search {
  text-align: center;
  background-color: #F6F6F6;
}
.search h1 {
  font-size: 22px;
  font-weight: 600;
  padding: 40px 60px 0 60px;
}
.search h3 {
  font-size: 16px;
  font-weight: 300;
  padding: 0 20px 0px 20px;
  margin-bottom: 10px;
}

.operation {
  padding-top: 10px;
  padding-bottom: 60px;
}
.operation__title {
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0 20px 20px;
}
.operation__step {
  display: flex;
}
.operation__nb {
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: white;
  margin-left: 20px;
  text-align: center;
  padding-top: 3px;
  margin-top: 35px;
}

.restaurant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  padding-top: 10px;
  padding-bottom: 40px;
}
.restaurant__title {
  font-size: 20px;
  font-weight: 600;
  margin: 40px 0 30px 20px;
}
.restaurant .new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 7%;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  color: #078C6B;
  font-weight: 500;
  font-size: 14px;
}
.restaurant__card {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  margin: 0 auto 15px auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: 3px 3px 15px 1px #D1D1D1;
}
.restaurant__img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.caption {
  display: flex;
  margin-bottom: -10px;
}
.caption__name h3 {
  margin: 15px 0 -10px 15px;
}
.caption__name p {
  font-weight: 300;
  margin-left: 15px;
}

/*partie responsive de la page d'accueil*/
@media (min-width: 768px) and (max-width: 991px) {
  .operation {
    padding-top: 0px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .operation__title {
    width: 100%;
  }
  .operation__step {
    width: 50%;
  }
  .operation__nb {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 35px;
  }
  .restaurant__title {
    margin: 20px 0 30px 20px;
  }
}
@media (min-width: 992px) {
  .search h1 {
    font-size: 22px;
  }
  .search h3 {
    font-size: 18px;
  }
  .operation {
    padding-bottom: 30px;
  }
  .operation__title {
    text-align: center;
    margin: 10px;
    font-size: 22px;
  }
  .operation__nb {
    width: 30px;
    height: 30px;
    margin-left: 31.5%;
    padding-top: 6px;
    margin-top: 32px;
    font-size: 14px;
  }
  .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurant__title {
    width: 100%;
    text-align: center;
    margin: 10px 0 20px 0;
    font-size: 22px;
  }
  .restaurant__card {
    position: relative;
    width: 22%;
    margin: 5px;
  }
  .caption__name {
    font-size: 16px;
  }
  .caption__name h3 {
    line-height: 1.2em;
  }
}
/*code commun aux quatre pages menu*/
.restaurant__name {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
}
.restaurant__name h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 26px;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  position: relative;
  margin-top: -40px;
  padding-top: 10px;
}
.menu__title {
  margin-left: 10px;
  padding-top: 20px;
}
.menu__underline {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: 5px 0 10px 10px;
}

.item__card {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: auto;
  margin: 15px auto 15px auto;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 3px 3px 15px 1px #D1D1D1;
}
.item__text {
  display: flex;
  flex-direction: column;
  width: 85%;
  overflow: hidden;
}
.item__text h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 0 0 10px;
}
.item__text p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 5px 10px 10px;
  font-size: 14px;
}
.item__price {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  margin: 40px 5px 0 0;
  font-size: 14px;
}

/*partie responsive des menus*/
@media (min-width: 768px) and (max-width: 991px) {
  .restaurant__name h1 {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .restaurant__name h1 {
    font-size: 34px;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu form {
    width: 100%;
    padding-top: 40px;
  }
  .item__card {
    width: 330px;
  }
}/*# sourceMappingURL=main.css.map */